body {
    margin: 0;
    font-family: Georgia, serif;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-top: 1px solid tan;
    border-bottom: 1px solid tan;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: darkred;
}

main {
    width: 95%;
    margin: 2rem auto;
    min-height: 70vh;
}

.book-review {
    padding: 2rem;
}

.book-info {
    text-align: right;
}

.book-content {
    text-align: center;
    width: 100%;
}

.book-content h2 {
    color: darkred;
}

.book-content img {
    max-width: 200px;
}
footer {
    border-top: 1px solid #d8b98b;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (min-width: 700px) {

    .book-review {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 3rem;
        width: 100%;
    }

    .book-info {
        border-right: 1px solid tan;
        padding-right: 1rem;
        width: 180px;
        justify-self: end;
    }
}